* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --primaryColor: white;
  --secondaryColor: #523428;
}
body {
  min-height: 100%;
  background-size: cover;
  background: url("./images/background.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.first {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(0, 0, 0, 0.1881127450980392) 30%,
    rgba(166, 77, 0, 0.9220063025210083) 100%
  );
}
.first h1 {
  color: var(--primaryColor);
  user-select: none;
  font-family: "Roboto", sans-serif;
  font-size: 3rem;
  margin-top: -8rem;
}
.first h2 {
  color: var(--primaryColor);
  user-select: none;
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  margin-left: -7rem;
}
.second {
  min-height: 100vh;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(0, 0, 0, 0.1881127450980392) 30%,
    rgba(166, 77, 0, 0.9220063025210083) 100%
  );
}
.second h1 {
  color: var(--primaryColor);
  user-select: none;
  font-family: "Roboto", sans-serif;
  margin-left: 2rem;
  text-decoration: underline;
}
.second p {
  color: var(--primaryColor);
  user-select: none;
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  text-align: left;
  padding: 1rem;
}
.img img {
  display: block;
  border-radius: 2rem;
  padding: 0.5rem;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
}
.second p a {
  text-decoration: none;
  color: white;
}
.second p a:hover {
  text-decoration: underline;
  color: var(--secondaryColor);
}
.second li {
  text-align: center;
  list-style-type: none;
}
.second li a {
  text-decoration: none;
  padding: 1.5rem;
  color: var(--primaryColor);
  user-select: none;
  font-family: "Roboto", sans-serif;
  background-color: var(--secondaryColor);
  border-radius: 1rem;
  transition: 0.8s;
  font-size: 2rem;
}
.second li a:hover {
  background-color: #6d4636;
  -webkit-box-shadow: 10px 10px 6px 0px rgba(0, 0, 0, 0.86);
  -moz-box-shadow: 10px 10px 6px 0px rgba(0, 0, 0, 0.86);
  box-shadow: 10px 10px 6px 0px rgba(0, 0, 0, 0.86);
  border-radius: 2rem;
}
@media only screen and (max-width: 790px) {
  .first h1 {
    font-size: 2rem;
  }
  .first h2 {
    font-size: 1.5rem;
  }
  .img img {
    width: 350px;
    padding: 0.5rem;
  }
  .second li a {
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 364px) {
  .first h2 {
    margin-left: -12rem;
  }
  .second p {
    font-size: 1.5rem;
  }
  .img img {
    width: 250px;
    padding: 0.5rem;
  }
  .second li a {
    font-size: 1rem;
  }
}
